.sector1{
    background-color: #202020;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: white;
    text-align: center;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
    gap: 15px 15px; 
    grid-template-areas: 
      "Title Title"
      "item1 item2"
      "item3 item4"
      "item5 item6"
      "gallery gallery";
}
.items{
    border: 3px solid white;
}
.Title {
    grid-area: Title;
}
.item1 {
    grid-area: item1;
}
.item2 {
    grid-area: item2;
}
.item3 {
    grid-area: item3;
}
.item4 {
    grid-area: item4;
}
.item5 {
    grid-area: item5;
}
.item6 {
    grid-area: item6;
}
.gallery {
    grid-area: gallery;
    width: 100%;
    background-color: black;
}